<div class="sonar-wrapper">
  <div class="sonar-emitter" draggable="true"
       (dragstart)="startDrag($event)"
       (drag)="doDrag($event)"
       (dragend)="endDrag()">
    <div *ngIf="!isDragging" class="sonar-wave"></div>
  </div>
</div>
<svg id="graph" (dragenter)="getLastPosition($event)">
  <line *ngIf="isDragging" class="line" [attr.x1]="sonarPosition.x" [attr.y1]="sonarPosition.y" [attr.x2]="draggingPosition.x" [attr.y2]="draggingPosition.y"></line>
  <circle *ngIf="isDragging" [attr.cx]="draggingPosition.x" [attr.cy]="draggingPosition.y" r="20" fill="HSL(45,100%,50%)" />
</svg>
<span *ngIf="isDragging" class="minutes">{{min}}</span>
